@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #46494a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;    
    margin: 0 auto;         
    padding: 0 20px;
}

header {
    background-color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-list a {
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #a5c9cf;
}

footer {
    background-color: #FFFFFF;;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.rs-logo {
    height: 40px;
}
